.image {
    width: 100%;
    height: auto;
}

.full-width-section {
    width: 90%;
    margin: auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.section-margin {
    margin-top: 75px;
    /* adjust as needed */
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

.fade-in {
    visibility: visible;
    animation: fadeIn 2s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.email-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.email-form input {
    margin-right: 10px;
}